<mat-toolbar color="primary">
  <div style="margin-left: auto;">
    <button mat-raised-button (click)="isGrid=true">Add Item</button>
    <button mat-raised-button style="margin-left: 10px;" (click)="isGrid=false">Grid</button>
  </div>
</mat-toolbar>
<div class="main-div" *ngIf="isGrid">
  <mat-card>
    <mat-card-content>
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Item Name</mat-label>
              <input matInput name="txtName" [(ngModel)]="model.itemName" placeholder="Ex. abc">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput name="txtDate" [(ngModel)]="model.itemAdditionDate" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Item Price</mat-label>
              <input type="number" matInput name="txtPrice" [(ngModel)]="model.itemPrice" placeholder="Ex. 100">
            </mat-form-field>
          </td>
          <td rowspan="2" style="text-align-last: center;">
            <div>
              <span style="color:red;" *ngIf="message">{{message}}</span>
              <img *ngIf="!model.itemImage" src="/assets/images/unnamed.gif" height="100" alt="thumbnail"
                class="img-thumbnail">
              <img *ngIf="model.itemImage" [src]="model.itemImage" height="100" alt="thumbnail" class="img-thumbnail">
              <p> <input style="display: none" #file type="file" accept='image/*' (change)="imgPreview(file.files)" />
                <button (click)="file.click()">Select Image</button>
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Item Description</mat-label>
              <textarea matInput name="txtDec" [(ngModel)]="model.itemDescription"
                placeholder="Ex. Coding Exercise"></textarea>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div mat-dialog-actions class="button" style="margin-top: 10px;" align="end">
        <button type="button" mat-raised-button color="primary"
          [disabled]="!model.itemName||!model.itemAdditionDate||!model.itemPrice||!model.itemDescription"
          (click)="SaveItem(model,f)">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- Mat Table -->
<div [hidden]="isGrid" class="mat-elevation-z8">
  <mat-form-field class="example-full-width">
    <input (keyup)="filter($event.target.value)" matInput placeholder="Search">
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="removeSelectedRows()">
    Remove Selected Items
  </button>
  <mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">

    <!-- CheckBox Column -->
    <ng-container matColumnDef="checkBos">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" color="warn">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" color="warn">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Item Name Column -->
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemName}} </mat-cell>
    </ng-container>

    <!-- Item Price Column -->
    <ng-container matColumnDef="itemPrice">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemPrice}} </mat-cell>
    </ng-container>

    <!-- Item Description Column -->
    <ng-container matColumnDef="itemDescription">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemDescription}} </mat-cell>
    </ng-container>

    <!-- Item Addition Date Column -->
    <ng-container matColumnDef="itemAdditionDate">
      <mat-header-cell *matHeaderCellDef> Addition Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemAdditionDate| date:'shortDate'}} </mat-cell>
    </ng-container>

    <!-- Item Image Column -->
    <ng-container matColumnDef="itemImage">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element"> <img [src]="element.itemImage" style="width: 55px" /> </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Click to Edit" (click)="Edit(row)" class="iconbutton" color="primary">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete" (click)="Delete(row.itemId)" class="iconbutton"
          color="warn">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>
  <mat-paginator #MatPaginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons>
  </mat-paginator>
</div>
<router-outlet></router-outlet>